.App {
  text-align: center;
  padding: 22px;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}